tr.data {
    cursor: pointer;
}

.form-group {
    margin-bottom: 8px;
}

.form-group label{
    margin-bottom: 5px;
}

.update-item-form {
    padding: 14px;
}
.create-item {
    margin-left: 14px;
}

.cancel-item {
    margin-left: 14px;
}

